html,
body {
  height: 100%;
  margin: 0px;
}

.frase {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border: 1px solid black;
}
.frase-pintada {
  background-color: red;
}
.buttons {
  display: flex;
}
.button {
  flex-grow: 1;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Open Sans", sans-serif;
  border: 5px solid red;
  display: inline-block;
  font-size: large;
  margin: 1px;
}
.button:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
.welcomePage {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  align-items: center;
  color: white;
  background-size: cover;
  background-position: center;
  background-image: url(./assets/fondo-galaxia-espacial.jpg);
}
.titolBenvinguda {
  text-align: center;
}
.textBenvinguda {
  text-align: center;
}
.botoBenviguda {
  width: 20%;
  border-radius: 10px;
  margin-top: 20px;
}
.botoBenviguda:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
