body {
  margin: 0px;
}

.frase {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border: 1px solid black;
}
.frase-pintada {
  background-color: red;
}
.welcomePage {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  align-items: center;
  color: white;
  background-size: cover;
  background-position: center;
  background-image: url(./assets/fondo-galaxia-espacial.jpg);
}
.titolBenvinguda {
  text-align: center;
}
.textBenvinguda {
  text-align: center;
}
.botoBenviguda {
  display: inline-block;
  font-size: 1em;
  border-radius: 50px;
  padding: 0.5em;
  background-color: #b3005e;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.botoBenviguda:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
.botoBenviguda:hover {
  background-color: lightskyblue;
}
